	* {
	padding: 0;
	margin: 0;
}

html { 
	overflow-y: hidden; 
}

#game {
	background-color: rgba(34,139,34, 0.7);
 	height: 600px;
  	margin: 0 auto;
  	position: relative;
  	text-align: center;
  	width: 600px;
}

#counter {
	height: 50px;
	width: 100px;
	text-align: right;
	position: relative;
	margin: 0 auto;
}

#start-button {
	color: yellow;
	font-size: 4rem;
	text-decoration: none;
	text-align: center;
}

#end-button {
	color: yellow;
	font-size: 4rem;
	text-decoration: none;
	text-align: center;
}

#start-button h5 {
	color: yellow;
	font-size: 32px;
	text-align: center;
}

#player {
	background-color: rgba(252, 252, 252, 0.0);
	width: 40px;
	position: absolute;
}


#enemy {
	background-color: rgba(0, 0, 0, 0);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	background-image: url('images/hunter_1_40x40.png');
}

#honey {
	background-color: rgba(255,255,11,0.0);
/*	width: 60px;
	height: 60px;*/
	position: absolute;
}

p {
	text-align: center;
	font-size: 40px;
}



.honey-image {
	background-image: url('images/honey_1_30x30.png');
}

.bear-image {
}

